<h1>Groups#index</h1>
<p>Find me in app/views/groups/index.html.erb</p>
<% @groups.each do |group| %>
<ul>
<li><%= group.name %>
<%= link_to group.name, group_path(group) %>
</li>
</ul>
<% end %>
<%= link_to "Create New", new_group_path %>
