<h1 class="connecto">These are all your groups!</h1><br>
<br>
<% @groups.each do |group| %>
<ul>
<li class="connector"><%= group.name %> </li>
<%= link_to "Enter", group_path(group), class: "connectoror" %>
</li>
</ul>
<% end %>
<%= link_to "Create a new Group!", new_group_path, class: "newone"  %>
