

<div class="textotexto">
<%= @user.first_name.capitalize%>
</div>
<div class="textotextoto">
<p>Plays the <%=@user.instrument%></p>
</div>
<div class="textotextototo">
<p>Bio: <%=@user.bio%></p>
</div>
  <%= render @user  %>
