<div class="backgrounder">
<div class="hpsizer">
 <%= image_tag "Capri3.png", class:"hpsizer2" %>
</div>
<div class="body1">
<div class="container1" data-controller="logo-animation" id="soundpop">
<%= link_to users_path(@users) do %>
	<div class="card1">
		<div class="blender"></div>
		<h5>Time to meet some cool musicians!</h5>
    <h5>Click here!</h5>
		<h5>&#10084;</h5>
	</div>
  <% end %>
</div>
</div>
<%# <div class="logo-location">
<%= image_tag "logo.png"%>
<%# </div>
</div>  %>
