<div class="body1">
<div class="container1" data-controller="logo-animation">
<%= link_to users_path(@users) do %>
	<div class="card1">
		<div class="blender"></div>
		<p>Welcome to Local Jam!</p>
		<p>Time to meet some cool musicians!</p>
    <p>Click here!</p>
		<p>&#10084;</p>
	</div>
  <% end %>
</div>

<div class="logo-location">
<%= image_tag "logo.png"%>
</div>
</div>
