.gmdisplay {
  display: flex;
// justify-content: space-between;
margin-top: 5%;
margin-right: 20%;
background-color: white;
border: 4px outset #d1743a; ;
width: 600px;
height: 400px;
overflow-x: hidden;
overflow-y: auto;
text-align:justify;
 background-color: #fffdf0;
}
.gmlefter {
  display: flex;
  flex-direction: column;
// justify-content:right;
}


.gmdisplayer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.gmwidther {
  width: 60%;
}

.gmbtnalign {
  // display: flex;
  // justify-content: left;
}
.groupscards{
   width: fit-content;
   height: fit-content;
  border:5px solid #d1743a;
  padding: 20px;
}

.avcolumn{
  position: relative;
  left: -30px;
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 15px;
}
