.textotexto {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 100px;
  color: #d1743a;

}

.textotextoto {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 50px;
color: #5b3d2a;

}

.textotextototo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 28px;
color: #5b3d2a;

}
