@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");


$body-color: #333a4d;

$df-dark-blue: #003A79;
$df-sky-blue: #00B3E7;
$df-orange: #F78D28;
$df-bg-gray: #EFF0F2;



.containerpr {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fffdf0;
  font-family: 'Baloo Paaji 2', cursive;
   position: absolute;
   left: 10px;
   top: 50px;
}

.cardpr {
  background-color: #d1743a;
  height: 37rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
  padding-bottom: 10px;
}

.card__name {
  margin-top: 15px;
  font-size: 1.5em;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

.card__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
  box-shadow: 0 10px 50px rgba(255,	253, 240, 1);
   object-fit: contain;
}


.draw-border {
  box-shadow: inset 0 0 0 4px #58cdd1;
  color: #fffdf0;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #ffe593;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #fffdf0;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before{
  border-color: #fffdf0;
}
.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 0.75em 2em;
  letter-spacing: 0.05rem;
  margin: 1em;
  width: 13rem;

}

.btn:focus {
  outline: 2px dotted #55d7dc;
}


.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 0.95em;
  left: 0.96em;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #ff003c, #c648c8);
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #ff003c;
  background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 1.2em;
}

.followbutton{
  text-decoration: none;
}

.fancy {
  padding : 1em;
  width: 400px;
  height:585px;
  border-radius: 5px;
  box-sizing: border-box;
 position: absolute;
 top: 73px;
 left: 300px;
  /* At the bottom of our background stack,
     let's have a misty grey solid color */
  background-color: #fffdf0;

  /* We stack linear gradients on top of each
     other to create our color strip effect.
     As you will notice, color gradients are
     considered to be images and can be
     manipulated as such */
  background-image: linear-gradient(175deg, rgba(0,0,0,0) 95%, #FFFDF0ff 95%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 95%, #FBF1DFff 95%),
                    linear-gradient(175deg, rgba(0,0,0,0) 90%, #F7E4CFff 90%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 92%, #F2D8BEff 92%),
                    linear-gradient(175deg, rgba(0,0,0,0) 85%, #EECBAEff 85%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 89%, #EABF9Dff 89%),
                    linear-gradient(175deg, rgba(0,0,0,0) 80%, #E6B28Dff 80%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 86%, #E2A67Cff 86%),
                    linear-gradient(175deg, rgba(0,0,0,0) 75%, #DE996Cff 75%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 83%, #D98D5Bff 83%),
                    linear-gradient(175deg, rgba(0,0,0,0) 70%, #D5804Bff 70%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 80%, #D1743Aff 80%);
}

// .fancy p{
//   font-size
// }

#biotext{
  width: 300px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  color: #d1743a;

}

#ytbvidpos iframe {
  // position: relative;
  // width: 100%;
  // padding-bottom: 56.25%;
  // height: 0;
  width: 490px!important;
  height: 290px!important;
}
// .iframe-container iframe{
//   position: absolute;
//   top:0;
//   left: 0;
// }

.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fffdf0;

 }
.profile-img{
  text-align: center;
}
.profile-img img{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: center;
  position: absolute;
    border-radius: 100%;
    object-fit: cover;
    top: 65px;
    left: 500px;
  }
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}

 .profile-head h5{
  position: absolute;
  top: 230px;
  left: 168px;
 }
.profile-head h6{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  color: #d1743a;
  position: absolute;
  top: 250px;
  left: 135px;
}
.profile-head h6{
  color: #d1743a;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
  color: #d1743a !important;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #d1743a;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #d1743a;
}

.profilebackground{
  background-color: #fffdf0;
}

.btn-color{
  color:  #fffdf0 !important;
  background-color: #d1743a !important;
 border-color: #d1743a !important;
 width: 100px !important;
 position: relative;

}



.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  overflow: hidden;
  text-align: center;
   width: 500px;
  position: relative;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #d1743a;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #d1743a;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
 object-fit: cover;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #d1743a;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #d1743a;
  background-color: #f7f5ec;
}
.biotitles{
 font-size: 30px;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 color: #d1743a;
 position: absolute;
 top: 300px;
 left: -450px;
}

.bioparagraph p{
 color: #d1743a;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 17px;
  margin: auto 0;
}

.bioparagraph{
  position: absolute;
 height: 300px;
 width: 500px ;
  top: 350px;
 left: -510px;
 border:5px solid #d1743a;
 overflow-x: hidden;
overflow-y: auto;
}

.reviewcontainer{
  position: absolute;
 height: 300px !important;
 width: 500px !important ;
  top: 740px;
 right: 200px;
 border:5px solid #d1743a;
 overflow-x: hidden;
overflow-y: auto;
}

.followercontainer{
  position: absolute;
 height: 300px;
 width: 500px ;
  top: 740px;
 right: -700px;
 border:5px solid #d1743a;
 overflow-x: hidden;
overflow-y: auto;
}


.bioparagraph h1{
  color: #d1743a;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.reviewbutton{
  position: relative;
   width: 188.24px !important;
}

.h1wed {
  font-family: sans-serif;
  color: #545454;
}
.bodywed{
  margin: 0;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fffdf0;
}
/*RATING CARD*/
.rating__card {
  box-shadow: 0px 15px 50px -18px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  padding: 30px;
  font-family: sans-serif;
  color: #d1743a;
  font-weight: 100;
  background: url('') no-repeat center center;
  border-radius: 10px;
  /* background: url('') no-repeat center center, linear-gradient($df-dark-blue, $df-sky-blue); */
  background-size: cover;
  background: $df-bg-gray;
  width: 100%;
  max-width: 450px;
  margin-top: 5px;
  margin-bottom: 10px;
   margin-left: 15px;
  background-color: #d1743a;
}
.rating__card__quote {
  padding: 30px 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.2;
  font-size: 20px;
  line-height: 1.54;
  color: #fffdf0;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.fa-star {
  color: #545454;
}
.checked {
  color: $df-orange;
}
.rating__card__stars {
  margin: auto;
  display: block;
  text-align: center;
}
.rating__card__stars__name {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #fffdf0;
}
.rating__card__bottomText {
  margin: 30px auto 15px;
  text-align: center;
  font-size: 14px;
  color: #fffdf0 !important;
}

.btnfollow{
  border: 5px solid #d1743a  ;
  background-color: #d1743a;
}



.userprofilerbanner{
  background-color: #d1743a;
  position: absolute;
  width: 1425px;
   height: 200px;
   top: 70px;
}

.userfollowcount{
  position: absolute !important;
  top: 300px;
  left: 170px !important;

}

#followtitle{
  position: absolute !important;
  top: 419px;
  left: 550px !important;
  white-space: nowrap;
  color: #d1743a
}

#friendlist{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: #d1743a;
    font-size: 30px;
    position: absolute;
    top: 388px;
    left: 345px;
    white-space: nowrap;
  }

  .reviewtitle{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: #d1743a;
    font-size: 30px;
    position: absolute;
    top: 810px;

    white-space: nowrap;
  }

  #ytbvidpos{
    position: absolute;
  top:460px;
  left: 900px;
  //  width: fit-content;
  //    height: fit-content;
  width: 500px!important;
  height: 300px!important;

  border:5px solid #d1743a;
}

.buttoncolumn{
  position: absolute;
  top: 600px;
  left: 600px;
   width: 230px;
   height: 500px;
   background-color: #d1743a;
   border-radius: 10px ;
  }
