
#userdisplay{
  background-color:#FFFDF0;
}
#heading{
  padding-bottom: 30px;
}


$bodyFont: 'Open Sans', sans-serif;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $bodyFont;
  background: #333;
}

.container {
  max-width: 900px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.card-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.card {

  width: 300px;
  height: 400px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  margin: 16px;
  left: 85px;

  .card-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    transition: .5s;

     img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &:hover img {
    opacity: 0.4;
    transition: .5s;
  }
}

.card:hover .card-image {
  transform: translateY(-100px);
  transition: all .9s;
}

/**** Social Icons *****/

.social-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;

  li {
    list-style: none;

    a {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background-color: #d1743a;
      font-size: 23px;
      color: #fffdf0;
      font-weight: bold;
      margin: 0 6px;
      transition: .4s;
      transform: translateY(200px);
      opacity: 0;
    }
  }
}

.card:hover .social-icons li a {
  transform: translateY(0px);
  opacity: 1;
 background: #d1743a !important;
}


.social-icons li a:hover {
  background: #d1743a;
  transition: .2s;
  .fab {
    background: #d1743a;
  }
}

.social-icons li a .fab {
  transition: .8s;

  &:hover {
      transform: rotateY(360deg);
      background: #d1743a !important;
  }
}

.card:hover li:nth-child(1) a {
    transition-delay: 0.1s;
}
.card:hover li:nth-child(2) a {
  transition-delay: 0.2s;
}
.card:hover li:nth-child(3) a {
  transition-delay: 0.3s;
}
.card:hover li:nth-child(4) a {
  transition-delay: 0.4s;
}

/**** Personal Details ****/

.details {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 1;
  padding: 10px;

  h2 {
    margin: 30px 0;
    padding: 0;
    text-align: center;

    .job-title {
        font-size: 1rem;
        line-height: 2.5rem;
        color: #333;
        font-weight: 300;
    }
  }
}

.jane {
  position: absolute;
  bottom: -120px;
  left: 0;
  opacity: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 3;
  padding: 10px;
  transition: .4s;
}

.profile-two .social-icons li a {
  border-radius: 50%;
}

.card:hover .profile-img--two {
  transform: rotateY(180deg);
}

.card:hover .jane {
  bottom: 0;
  left: 0;
  transition-delay: 0.5s;
  opacity: 1;
}


.banner {
  // background-image: url(band.jpeg);
  background-size: contain;
  background-position: center;
  padding: 30px 0;
  color: rgb(219, 90, 9);
  // background: url(https://moen.widen.net/content/jas4p503qr/jpeg/animated-background.jpeg?position=c&color=ffffffff&quality=100&u=yuubbq);
  background-color:#FFFDF0;
}

#bannerhead {
 position: absolute;

  top: 2px;
  margin: 0;
  color: (209, 116, 58);
  text-shadow: 1px 1px 3px rgba(209, 116, 58, 0.837);
  font-size: 50px;
  font-weight: bold;
}

.plus-slideshow {
  height: 95px;
  max-width: 2900px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  top: 1px;
}

.plus-slideshow > div {
  height: 200px;
  width: 2900px;
  background: url("bnerororo.png");
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.plus-slideshow .product-1 {
  animation: moveSlideshow 12s linear infinite;
}
.plus-slideshow .product-2 {
  opacity: 0;
  transition: opacity 0.9s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 12s linear infinite;
}
.plus-slideshow:hover .product-2 {
  opacity: 0;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-100%);
  }
}


.artist_name{
  position:absolute ;
  top: 0px;
  right: 3px;
}

.artist_namo{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

.search-bar {
   input{
     height: 52px;
   }
  .btn{
    background-color: #d1743a

  }
}

.iframe-container{
  position: absolute;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  right: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  right:0;
  width: 100%;
  height: 100%;
}

#youtubevideo{
  position:absolute;
  right: 70px;
  top: 170px;
   border-color: #d1743a;
    border: #d1743a  7px outset;
   width: fit-content !important;
   height: fit-content !important;
  }

  .social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #000,#d1743a ) !important;
    transition: all 265ms ease-out;
}
