<div class="artist_namo">
<div class="artist_namomo">
<h1 class="connector">Leave a review</h1>
<div class="gmwidther">
<%= simple_form_for [@user, @review] do |f| %>
    <%= f.input :content %>
    <%= f.button :submit %>
<% end %>
</div>
</div>
</div>
